@model TVChannel.Models.User
@{
    ViewBag.Title = "Login";
}
<h2>
    Login</h2>
<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
            @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
                @Html.ValidationMessageFor(m => m.email)
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password)
                @Html.ValidationMessageFor(m => m.password)
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        <input type="submit" value="Log in" />
  
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>
<section class="social" id="socialLoginForm">
   @* <h2>Use another service to log in.</h2>*@
    @*@Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })*@
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
