@model TVChannel.Models.Channel
@{
    ViewBag.Title = Model.Name;
}


@if (Model.Iframe == null)
{
    if (Model.URL.Contains(".swf") == true)
    {
        <embed type="application/x-shockwave-flash" src="@Model.URL" quality="high" name="mp1" id="mp1" flashvars="@HttpUtility.HtmlDecode(Model.FlashVars)" allowscriptaccess="always" allowfullscreen="true" height="450" width="740">
    }else
    {
        <object type="application/x-silverlight" data="data:application/x-silverlight," width="585" height="430"><param name="background" value="#FFFFFF"><param name="source" value="http://freeasia.tv/freetv/wmvplayer.xaml"><param name="windowless" value="true"><param name="onLoad" value="__slEvent0"></object>
    }
}
else
{
    @*<iframe id="thatframe" height="510" src="http://www.livecaster.tv/channel.php?u=bbcone" frameBorder="0" width="600" allowTransparency="true" scrolling="no"></iframe>*@
    <iframe id="thatframe" height="450" src="@HttpUtility.HtmlDecode(Model.Iframe)" frameBorder="0" width="740" allowTransparency="true" scrolling="no"></iframe>
}
<h3>@Model.Name.ToUpper()</h3>
<div>Views: @ViewBag.TotalView Users: @ViewBag.TotalUser</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*<img src="@Model.Image" alt="@Model.Name" />*@
<br />
